Repository namidapoo/my-turborepo-playground: changes, and which lefthook commands are due for each by the changed paths.
All: check/biome, format/prettier

lefthook.yml:

pre-commit:
  commands:
    check/biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bunx --bun biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    format/prettier:
      glob: "**/*"
      run: bunx --bun prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check/biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bunx --bun biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {push_files}

Fix lint errors and apply code formatting
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/app/page.module.css
  apps/docs/app/page.tsx
  apps/docs/tsconfig.json
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.module.css
  apps/web/app/page.tsx
  apps/web/tsconfig.json
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/package.json
  packages/typescript-config/react-library.json
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/tsconfig.json
Due: check/biome, format/prettier

docs: Add Turborepo Vitest integration guide
  docs/turborepo-vitest-guide.md
Due: format/prettier

docs: Add project documentation and AI guidance files
  CLAUDE.ja.md
  CLAUDE.md
  README.ja.md
  README.md
Due: none

feat: Add shared Vitest configuration package for hybrid approach
  packages/vitest-config/package.json
  packages/vitest-config/src/index.ts
  packages/vitest-config/tsconfig.json
Due: check/biome, format/prettier

feat: Vitestのテスト設定とカバレッジ収集機能を追加
  apps/api/math.test.ts
  apps/api/package.json
  apps/api/vitest.config.ts
  apps/desktop/math.test.ts
  apps/desktop/package.json
  apps/desktop/vitest.config.ts
  apps/mobile/math.test.ts
  apps/mobile/package.json
  apps/mobile/vitest.config.ts
  bun.lock
  package.json
  packages/vitest-config/package.json
  packages/vitest-config/src/configs/base-config.ts
  packages/vitest-config/src/configs/ui-config.ts
  packages/vitest-config/src/index.ts
  packages/vitest-config/src/scripts/collect-json-outputs.ts
  packages/vitest-config/turbo.json
  turbo.json
  vitest.config.ts
Due: check/biome, format/prettier

feat: VitestをdevDependenciesに追加
  bun.lock
  package.json
Due: check/biome

fix: turbo.jsonとgitignoreを修正
  .gitignore
  turbo.json
Due: check/biome

feat: React テストのセットアップとUIコンポーネント用設定の共通化
  apps/desktop/app/dummy/page.test.tsx
  apps/desktop/app/dummy/page.tsx
  apps/desktop/package.json
  bun.lock
  packages/vitest-config/src/configs/ui-config.ts
  packages/vitest-config/src/setup/ui-setup.ts
Due: check/biome, format/prettier

fix: Testing Library依存関係の修正とmobileアプリテストの追加
  apps/desktop/package.json
  apps/mobile/app/dummy/page.test.tsx
  apps/mobile/app/dummy/page.tsx
  bun.lock
  packages/vitest-config/package.json
Due: check/biome, format/prettier
